body, .slide, h1, h2, h3, h4, h5, p, div {
    color: #3c3c3c;
    font-family: Helvetica, Verdana, sans-serif;
}

body {
    background: #005293;
}

.slide {
    background-image: url("opower.png");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: 92% 95%;
}

a:hover, a:visited, a {
    color: #005293;
}

code.result {
    font-weight: bold;
}

/*
 *        orig       Opower
 * color: black      black
 * color: blue       #0088CE
:1,$s/blue/#0088CE/gc
 * color: brown      #FF5800
:1,$s/brown/#FF5800/gc
 * color: cyan       #69C8F8
:1,$s/cyan/#69C8F8/gc
 * color: darkblue   #005293
:1,$s/darkblue/#005293/gc
 * color: darkgreen  #7AB800
:1,$s/darkgreen/#7AB800/gc
 * color: darkred    #A30050
:1,$s/darkred/#A30050/gc
 * color: orange     #FF5800
:1,$s/orange/#FF5800/gc
 * color: pink       #B1059D
:1,$s/pink/#B1059D/gc
 * color: purple     #B1059D
:1,$s/purple/#B1059D/gc
 * color: red        #A30050
:1,$s/red/#A30050/gc
 * color: teal       #D9E506
:1,$s/teal/#D9E506/gc
 */

pre.sh_sourceCode .sh_keyword { color: #0088CE; font-weight: bold; }           /* language keywords */
pre.sh_sourceCode .sh_type { color: #7AB800; }                            /* basic types */
pre.sh_sourceCode .sh_usertype { color: #D9E506; }                             /* user defined types */
pre.sh_sourceCode .sh_string { color: #A30050; font-family: monospace; }        /* strings and chars */
pre.sh_sourceCode .sh_regexp { color: #FF5800; font-family: monospace; }     /* regular expressions */
pre.sh_sourceCode .sh_specialchar { color: #B1059D; font-family: monospace; }  /* e.g., \n, \t, \\ */
pre.sh_sourceCode .sh_comment { color: #FF5800; font-style: italic; }         /* comments */
pre.sh_sourceCode .sh_number { color: #B1059D; }                             /* literal numbers */
pre.sh_sourceCode .sh_preproc { color: #005293; font-weight: bold; }       /* e.g., #include, import */
pre.sh_sourceCode .sh_symbol { color: #A30050; }                            /* */
pre.sh_sourceCode .sh_function { color: black; font-weight: bold; }         /* function calls and declarations */
pre.sh_sourceCode .sh_cbracket { color: #A30050; }                              /* block brackets (e.g., {, }) */
pre.sh_sourceCode .sh_todo { font-weight: bold; background-color: #69C8F8; }   /* TODO and FIXME */

/* Predefined variables and functions (for instance glsl) */
pre.sh_sourceCode .sh_predef_var { color: #005293; }
pre.sh_sourceCode .sh_predef_func { color: #005293; font-weight: bold; }

/* for OOP */
pre.sh_sourceCode .sh_classname { color: #D9E506; }


/* other */
pre.sh_sourceCode .sh_section { color: black; font-weight: bold; }
pre.sh_sourceCode .sh_paren { color: #A30050; }
pre.sh_sourceCode .sh_attribute { color: #7AB800; }

